################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.json
*.opendb
*.db-wal
*.db-shm
*.db
*.ipch
*.suo
*.vcxproj
*.filters
*.user
*.sln
*.tlog
*.obj
*.idb
*.recipe
*.log
*.pdb
*.ilk
*.exe
